* {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-black {
    color: black;
}

.bg-orange {
    background-color: rgb(238, 171, 46);
}

body {
    background-color: rgb(44, 44, 44);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(33, 18, 18);
    padding: 15px;
    width: 25vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.input {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px 0 20px 0;
    padding: 0 5px 0 5px;
    height: 8vh;
}

.buttons {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    cursor: pointer;
    background-color: rgb(97, 97, 97);
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 10px;
    height: 7vh;
    width: 3.5vw;
}

@media only screen and (max-width: 700px) {
    .container {
        height: 100vh;
        width: 100vw;
        justify-content: space-around;
    }
    
    button {
        font-weight: bold;
        width: 20vw;
        height: 10vh;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1079px)  {
    .container {
        height: 75vh;
        width: 60vw;
        justify-content: space-around;
    }

    button {
        font-weight: bold;
        width: 10vw;
        height: 10vh;
    }
}